@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "bootstrap.css"; 

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color:#f8f4e9;
	font-family: 'Baloo 2', cursive;
	letter-spacing: -0.2px;
}
a{
	font-style: italic;
}
a:link{color: blue;}
a:visited{color: #aa32f0;}



#container{
	display: flex;
	flex-direction: column;
}
#fix{
	width: 100%;
	position: fixed;
	z-index: 9999;
	right: 0;
}
nav{
 	min-height: 6vh;
}
header{
 	min-height: 14vh;
 	background-color: #90b3c9;
 	display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#logo { 
    height: 10vh;
    margin-bottom: 5px;
 }
header h1{
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 4px;
	font-size: 8vh;
	color: #7d3933;
	padding-top: 15px;
}#navigation{
	background-color:#c7d9e5;
}
#navigation a{
	display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    height: 6vh;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    text-transform: uppercase;
    flex-wrap: wrap;
    padding:0px 4px 0px 4px;

}
#navigation a:hover{
    background-color:#e6b8b8;
    cursor: pointer;

}
#navigation ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;

}
#navigation ul li{
	position: relative;
}

#navigation ul li ul.dropmenu {
        min-width: 100%; 
        background: #c7d9e5;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
}
#navigation ul li:hover ul.dropmenu {
        display: block;

}
#navigation ul li ul.dropmenu li {
        display: block;
        min-height: 6vh;
        background-color:#c7d9e5;
        min-width: 25vh;
		margin-left: -30px;
}
#navigation ul li ul.dropmenu li a{
        text-align: center;
        background-color:#c7d9e5;

        
}
#navigation ul li ul.dropmenu li a:hover{
        background-color:#e6b8b8;  
        cursor: pointer;     
}
.down{
	margin-top: 4px;
	font-size: 15px;
}
.down:after{
  content: '\25BC';
}
#active{
	background-color: #90b3c9;
	border-radius: 0px 0px 4px 4px;
}
.grow{
	flex-grow: 1;
}
#main{
	
	width: 80%;
	margin: auto auto;
	display: grid;
	min-height: calc(100vh - 37vh);
	grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    justify-content: space-between;
    margin-top: 23vh;
    z-index: 9998;
    
}
#myfigure{
	grid-column: 1/3;
	grid-row: 1/2;
	border: 10px solid #90b3c9;
	border-radius: 10px;
	width: 100%;
	margin-top: 3vh;
	height: 520px;
}
#myfigure h2{
	color: #fff;
	font-size: 70px;
}
.sliderimg{
	width: 100%;
	height: 500px;
	opacity: 0.3;
}
.button, #showbutton, .sliderbutton{
  border: none;
  border-radius: 10px;
  background-color: /*#e6b8b8;*/#90b3c9;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 90%;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button:hover, #showbutton:hover, .sliderbutton:hover, .minibutton:hover, .choosebtn:hover, footer button:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	color: #fff;
	cursor: pointer;
}
.gallerybtn{
	border: none;
  	border-radius: 10px;
  	background-color: #f8f4e9;
}
.gallerybtn:hover{
	text-decoration: underline;

}

#gallerypg1{
	background-color: #90b3c9;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sliderbutton {
  margin-bottom: 30px;
  width: 30%;
  height: 8vh;
}
aside{
	grid-column: 1/2;
	grid-row: 2/3;
}
article{
	grid-column: 2/3;
	grid-row: 2/3;
}
footer{
	margin-top: 60px;
 	height: 44vh;
 	background-color: #696565 /*#cfcbc2*/;
 	border-top: 1px solid #e8e8e7;
 	display: grid;
 	grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    justify-content: space-evenly;
    padding: 40px 0px 40px 0px;
    font-family: 'Open Sans', sans-serif;

}
footer h3{
	color: #fff;
	font-size: 25px;
	padding-bottom: 10px;

}
#sitemap a:hover{
	text-decoration: underline;
}
#sitemap a, footer .contactdata a,#copyright{
	text-decoration: none;
	display: block;
	text-align: center;
	color: #fff;
	font-style: normal;
	font-size: 17px;
}
footer .contactdata{
	margin-top: 0px;

}
footer .contactdata a{
	text-align: left;

}
.myimages{
	width: 100%;
	height: 100%;
}
footer .contactdata .logoimg{
	background-color: #cfcbc2;
	border-radius: 50px;
	width: 35px;
	height: 35px;
	padding: 5px;
	margin-bottom: -9px;
}

#blocklogo {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 10px;
	margin-left: 10px;
}
footer .logoimg:hover , footer .contactdata a:hover .logoimg{
	box-shadow: #000 0px 5px 15px;
	cursor: pointer;
	border-radius: 50px;
}

footer button{
	width: 75%;
	margin: 10%;
	height: 8vh;
	border: 8px solid #fff;
  	border-radius: 10px;
  	font-size: 17px;
  	background-color: #696565;
  	color: #fff;
  	cursor: pointer;

}

#copyright{
	grid-column: 1/4;
	width: 100%;
	text-align: center;
}
footer hr{
	width: 100%;
	border: 1px solid #a6a4a4;
	margin-bottom: 10px;
}
h2{
	margin-top: 40px;
	margin-bottom: 20px;
	color: #7d3933;
	font-size: 36px;
}
#topaside > h2{
	font-size: 43px;
	font-weight: bold;
	padding-top: 30px;
	color: #7d3933;
	text-align: center;
	margin-bottom: 10px;
}
#extracolor{
	color: #631d1d;
	font-weight: bold;
}
p{
	/*text-align: justify;*/
	margin: 0px 10px 0px 10px;
}

#gridmanage{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	grid-gap: 10px;
}
#topaside{
	grid-column: 1/3;
	grid-row: 1/2;
}
#bottomleftaside{
	grid-column: 1/2;
	grid-row: 2/3;


}
#bottomrightaside{
	grid-column: 2/3;
	grid-row: 2/3;
}
#bottomleftaside ,#bottomrightaside{
	border: 10px solid #90b3c9;
	border-radius: 10px;
	opacity:1;
	width: 100%;
	height: 220px;
	justify-content: space-between;
	margin-top: 10px;
	position: relative;
}
h3{
	color: #631d1d;
	text-align: center;
	font-size: 25px;
}
#topaside > h3{
	font-size: 32px;
}
#bottomleftaside:hover img, #bottomrightaside:hover img{
	opacity:0.7;
	cursor: pointer;
}
.playpng{
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	padding: 20%;
  	opacity: 0;
  	transition: .5s ease;
 	/*background-color: #fff;*/

}
#bottomleftaside:hover .playpng, #bottomrightaside:hover .playpng{
	opacity: 1;
	cursor: pointer;
	animation-name: zoom;
  	animation-duration: 0.6s;
}
article > h2 {
	margin-top: 15px;
	margin-bottom: 20px;
	color: #7d3933;
	font-size: 32px;
	text-align: center;
}
article{
	width:100%; 
	min-height:500px;  
	background-color:#e6b8b8;
	border: 8px solid #90b3c9;
	border-radius: 10px;
	margin-top: 20px;
	padding: 10px;
}
.trendimage{
	width: 96%;
	height: 200px;
	border-radius:10px;
	margin: 20px 10px 20px 10px;
}
article > h3
{
	font-size: 20px;
}
.circle{
	border-radius: 50%;
	width: 96%;
	height: 250px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.circle:hover{
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

figcaption{
	text-align: center;
	font-size: 20px;
}
#servicestitle{
	grid-column: 1/3;
	grid-row: 3/4;
	margin-bottom: -20px;

}
#services{
	grid-column: 1/3;
	grid-row: 4/5;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
#service1, #service2, #service3, #service4{
	
	width: 23%;
	margin: 10px;
}


#aboutmain, #healthmain, #gallerymain1, #gallerymain2{
	width: 80%;
	margin: auto auto;
	display: grid;
	min-height: calc(100vh - 37vh);
	grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    justify-content: space-between;
    margin-top: 23vh;
    z-index: 9998;
}
#aboutus{
	grid-column: 1/5;
	grid-row: 1/2;
	border: 10px solid #e6b8b8;
	border-radius: 10px;
	background-color: #90b3c9;
	width: 100%;
	margin-top: 3vh;
	min-height: 300px;
	display: grid;
	grid-template-columns: 1fr 1fr;

}
#aboutimg{
	grid-column: 1/2;
}
#aboutpar{
	grid-column: 2/3;
	margin-left: 10px;
	margin-right: 20px;
}
#aboutpar p{
	margin-left: 0px;
}
.minibutton{
  border: none;
  border-radius: 10px;
  background-color:#90b3c9;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 5%;
  cursor: pointer;
  width: 90%;
  height: 6vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#title1{
	grid-column: 1/5;
	grid-row: 2/3;
	margin-bottom: -20px;
	align-items: center;
	
}
#supply1, #groom1, #train1{
	grid-column: 1/2;
}
#supply2, #groom2, #train2{
	grid-column: 2/3;
}
#supply3, #groom3, #train3{
	grid-column: 3/4;
}
#supply4, #groom4, #train4{
	grid-column: 4/5;
}
#supply1, #supply2, #supply3, #supply4, #groom1, #groom2, #groom3, #groom4, #train1, #train2, #train3, #train4{
	grid-row: 3/4;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	width: 98%;
	padding: 20px 20px 20px 10px;
	border-radius:10px;
}
.productimage{
	width: 96%;
	height: 200px;
	border-radius:10px;
	margin: 10px 10px 10px 10px;
}

#title2{
	grid-column: 1/5;
	grid-row: 4/5;
	margin-bottom: -20px;
	
}
#groom1, #groom2, #groom3, #groom4{
	grid-row: 5/6;
}
#title3{
	grid-column: 1/5;
	grid-row: 6/7;	
	margin-bottom: -20px;

}
#train1, #train2, #train3, #train4{
	grid-row: 7/8;
}



#healthmain{
	justify-items: stretch;
}
#healthtop{
	grid-column: 1/5;
	grid-row: 1/2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	min-height: 560px;
}
#healthflex1
{
	width: 65%;
}
#healthflex2
{
	width: 35%;
}
#healthflex2 h1{
	font-size: 50px; 
	margin: 0px; 
	padding: 0px; 
	line-height: 1.3;
}
#healthflex2 p{
	font-size: 20px;
	margin-top: 10px;
	margin-left: 10px;
}
.vetimg{
	margin-top: 20px;
	width: 100%;
	height: 63vh;
}
#healthmain h1{
	margin-left: 10px;
	color: #7d3933;
	font-size: 40px;
	font-weight: bold;
}
#myfigure h2{
	line-height: 1;
	margin-bottom: -3px;
}
#myfigure p{
	font-size: 20px;
}
#speciality1, #speciality2, #speciality3, #speciality4{
	grid-row: 3/4;
	width: 98%;
	padding: 20px;
	border: 10px solid #e6b8b8;
	border-radius: 10px;
	background-color: #90b3c9;
	position: relative;
}
#speciality1{
	grid-column: 1/2;
}
#speciality2{
	grid-column: 2/3;
}
#speciality3{
	grid-column: 3/4;
}
#speciality4{
	grid-column: 4/5;
}
.specialityimg{
	width: 98%;
	align-items: center;
	height: 120px;
	border-radius:10px;
	margin: 10px 20px 10px 10px;

}
.caption{
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .5s ease;
 	background-color: #fff;


}
.caption h3 {
	text-align: center;
	padding-top: 50px;
	font-size: 40px;
	color: #000;

}
#speciality1:hover .caption,#speciality2:hover .caption,#speciality3:hover .caption,#speciality4:hover .caption{
  opacity: 0.7;
}
#speciality1:hover h3, #speciality2:hover h3, #speciality3:hover h3, #speciality4:hover h3{
	animation-duration: 1s;
    animation-name: zoom;
}

#staff{
	grid-row: 5/6;
	grid-column: 1/5;
	border: 10px solid #e6b8b8;
	border-radius: 10px;
	background-color: #90b3c9;
	width: 100%;
	padding-bottom: 30px;
	min-height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;

}

#newh2{
	margin-top: 20px;
	margin-bottom: 10px;
}
#stafftitle{
	grid-row: 1/2;
	grid-column: 1/3;

}
#staff1{
	grid-column: 1/2;
}
#staff2{
	grid-column: 2/3;
}
#staff1, #staff2{
	grid-row: 2/3;
	background-color: #e6b8b8;
	/*min-height: 25vh;*/
	border-radius: 20px;
	width: 90%;
	margin-bottom: 35px;
	display: flex;
	flex-direction: row;
	padding: 20px 5px 10px 20px;
	align-items: center;
	flex-wrap: wrap;
}
.staffpic{
	width: 85%;
	height: 85%;
	border-radius: 20px;
}
.staffinfo{
	width: 40%;
	margin-left: 5px;
}
.staffinfo h3{
	text-align: left;
}
.staffinfo p{
	margin: 0px;
}
#savepet{
	grid-row: 6/7;
	grid-column: 1/5;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
#savepet h2{
	text-align: center;
}
#savepet p{
	margin: 0px;
}
#saveheading{
	width: 100%;
	margin-bottom: -20px;
}

.adoptpet{
	width: 45%;
	border: 10px solid #e6b8b8;
	border-radius: 10px;
	background-color: #90b3c9;
	min-height: 150px;
	margin: 20px 10px 20px 0px;
	padding-bottom: 20px;

}
.adoptimg{
	width: 80%;
	height: 200px;
	border-radius:10px;
	margin:10%;
	animation-name: rotatein;
    animation-duration:0.3s;
}
@keyframes rotatein {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateout {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.adoptimg:hover{
	animation-name: rotateout;
    animation-duration:0.3s;
}

.adoptpet h3{
	margin-top: -30px;
}
.adoptpet p{
	text-align: center;
}
#showmore{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	display: none;
	animation-duration: 0.5s;
    animation-name: slideup;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slideup;
}

@keyframes slideup{
	from{
        margin-top: 100%;
    }
    to{
        margin-top: 0%;
    }
}
#gallerymain1, #gallerymain2
{
	animation-name: zoom;
	animation-duration: 1s;
}

#viewmore{
	grid-column: 1/5;
	grid-row: 8/9;
	margin-top: -25px;
	width: 100%;
}

#showbutton {
  margin-bottom: 30px;
  width: 40%;
  height: 8vh;
  margin-left: 30%;
}
.sliderbutton{
	width: 40%;
	margin-left: 0px;
	height: 8vh;
	background-color: #e6b8b8;
}

#gallerymain1, #gallerymain2{
	margin-top: 25vh;
	justify-items: stretch;
	align-items: stretch;
}
#gallerymain2{
	display: none;
}
#first{
	grid-row: 1/3;
	grid-column: 1/4;
	height: 100%;
}
#second{
	grid-row: 1/2;
	grid-column: 4/5;
	height: 100%;
}
#third{
	grid-row: 2/3;
	grid-column: 4/5;
	height: 100%;
}

#gallerymain1 .myimages:hover, #gallerymain2 .myimages:hover{
	opacity: 0.8;
	width: 94%;
	height: 94%;
	margin: 2%;
	box-shadow: #9e957b 0px 1px 2px 0px, #9e957b 0px 2px 6px 2px,#9e957b 0px 1px 2px 0px, #9e957b 0px 2px 6px 2px;
	border-radius: 5px;
	cursor: pointer;
}
.zoomimage{
	display: none;
	position: fixed;
	z-index: 1;
	/*padding:5%;*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000;

}

.imagesize {
    display: grid;
    height: 100%;
}
.zoomedimg{
	max-width: 100%;
    max-height: 100vh;
    margin: auto;
    animation-name: zoom;
  	animation-duration: 1s;
  	padding: 3%;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


.close{
  	position: absolute;
  	top: 25px;
  	right: 45px;
  	color: #fff;
  	font-size: 70px;
  	font-weight: bold;
  	transition: .5s ease;
}

.close:hover{
  text-decoration: none;
  cursor: pointer;
  transform: rotate(360deg);

}
#gallerybtn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 10px;
}
.gallerybtn{
	margin: 10px;
	width: 30px;
	height: 30px;
}
#contact{
	margin-top: 30px;
	grid-row: 1/2;
	grid-column: 1/5;
	/*box-shadow: #9e957b 0px 1px 2px 0px, #9e957b 0px 2px 6px 2px,#9e957b 0px 1px 2px 0px, #9e957b 0px 2px 6px 2px;*/
	border-radius: 20px;
	border: 20px solid #90b3c9;
	background-color: #90b3c9;
	display: grid;
	grid-template-columns: 3fr 2fr;
	justify-content: center;
	justify-items: stretch;
	width: 85%;
	/*padding: 20px;*/
}


#contact .myimages{
	max-width: 100%;
    max-height: 450px;
    padding-right: 50px;
    margin: auto;
}
#contact h2{
	text-align: center;
	margin-top: 5px;
}
#register, #sendmessage{
	width: 100%;
}
#register{
	display: none;
}
/*#sendmessage{
	display: none;
}
*/#formid{
	background-color: #e6b8b8;
	border-radius: 20px;
	box-shadow: #9e957b 0px 1px 2px 0px, #9e957b 0px 2px 6px 2px,#9e957b 0px 1px 2px 0px, #9e957b 0px 2px 6px 2px;

}
form{
	width: 100%;
	padding: 20px;
}
.formgrid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;

}
.data{
	width: 100%;
}
label{
	margin-left: 8px;
	display: block;
}
.inputbox{
	border: 1px solid #90b3c9;
  	width: 100%;
  	height: 40px;
  	padding: 10px;
  	border-radius: 20px;
  	background: #fff; 
  	margin-bottom: 20px;
  	margin-top: 3px;
  	
 }
input[type=text]:hover,input[type=email]:hover, textarea:hover{
	cursor: text;
}

#radio{
	display: inline-block;
}
.lineblock label{
	display: inline-block;
	margin-bottom: 20px;
  	margin-top: 3px;
  	width: 30%;
  	height: 20px;
}
.inputbox:focus, input[type=radio]:focus, input[type=checkbox]:focus, textarea:focus{
	outline: none;
 	box-shadow: #90b3c9 7px 7px 29px 7px;
}
.inputbox:focus .errorred{
	box-shadow: #eb3f3f 7px 7px 29px 7px;
}
input[type=radio]:hover, input[type=checkbox]:hover, select{
	cursor: pointer;
}
textarea{
	min-height: 10vh;
	width: 100%;
	border: 1px solid #90b3c9; 
  	/*margin-bottom: 20px;*/
  	margin-top: 3px;
  	border-radius: 20px;
  	padding: 10px;
}
#contact .minibutton{
	margin: 15px 0px;
}
.choosebtn{
	border: none;
  	border-radius: 10px;
  	background-color:#f5d0b5;
  	text-align: center;
  	text-decoration: none;
  	font-size: 20px;
  	margin-top: 15px;
  	cursor: pointer;
  	width: 95%;
  	height: 6vh;
  	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#logsign{
	padding: 0px 10px 30px 20px;
}
#sideflex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#contactinfo{
	margin-left: 30px;
}
.logoimg{
	width: 30px;
	height: 30px;
	margin-right: 30px;
	margin-bottom: -5px;
}
#sideflex .logoimg{
	animation-name: rotatein;
    animation-duration:0.3s;
}
#sideflex .logoimg:hover, #sideflex .contactdata a:hover .logoimg{
	animation-name: rotateout;
    animation-duration:0.3s;
}
.contactdata{
	margin: 20px;
	font-size: 20px;
}
.contactdata a{
	text-decoration: none;
	color: #000;
	font-style: normal;
}
#loginError{
	/*color:#ff0000;*/
	padding: 20px 0px 0px 20px;
	text-align: center;
}
#itemform{
	display: none;
}
@media screen and (max-width: 992px){
	#main, #aboutmain, #healthmain{
		margin-top: auto;
	}
	#gallerymain1, #gallerymain2{
		margin-top: 5vh;
	}
	#fix{
		position: relative;
		width: 100%;
	}
	#navigation ul li ul.dropmenu li {
		min-width: 30vh;
		margin-left: -60px;
	}
	.carousel-inner {
		height: 400px;
	}
	#myfigure{
		height: 420px;
	}
	#myfigure h2{
		font-size: 45px;
	}
	.sliderimg{
		height: 400px;
	}
	.sliderbutton{
	width: 50%;
	margin-top: 5px;
	}
    aside{
		grid-column: 1/3;
		grid-row: 2/3;
	}
	article{
		grid-column: 1/3;
		grid-row: 3/4;
	}
	#servicestitle{
		grid-column: 1/3;
		grid-row: 4/5;
	}
	#services{
		grid-column: 1/3;
		grid-row: 6/7;
	}
	#service1, #service2, #service3, #service4{
	
	width: 40%;
	margin: 10px;
	}
	#aboutimg{
		grid-column: 1/3;
		grid-row: 1/2;
	}
	#aboutpar{
		grid-column: 1/3;
		grid-row: 2/3;

	}
	#supply1, #supply2, #speciality1, #speciality2{
		grid-row: 3/4;
	}
	#supply3, #supply4, #speciality3, #speciality4{
		grid-row: 4/5;
	}
	#supply1, #supply3, #groom1, #groom3, #train1, #train3, #speciality1, #speciality3{
		grid-column: 1/3;
	}
	#supply2, #supply4, #groom2, #groom4, #train2, #train4, #speciality2, #speciality4{
		grid-column: 3/5;
	}
	#title2{
		grid-row: 5/6;
	}
	#groom1, #groom2{
		grid-row: 6/7;
	}
	#groom3, #groom4{
		grid-row: 7/8;
	}
	#title3{
		grid-row: 8/9;
	}
	#train1, #train2{
		grid-row: 9/10;
	}
	#train3, #train4{
		grid-row: 10/11;
	}
	#staff{
		grid-row: 6/7;
	}
	#healthflex1,#healthflex2
    {
	  width: 100%;
    }
    #staff1{
		grid-column: 1/3;
	}
	#staff2{
		grid-column: 1/3;
		grid-row: 3/4;
	}
	#savepet{
		grid-row: 8/9;
	}
	#viewmore{
		grid-row: 9/10;
	}
	#gallerymain1, #gallerymain2{
		margin-top: 5vh;
		grid-template-columns: 1fr 1fr;
	}
	#first{
		grid-row: 1/2;
		grid-column: 1/3;
	}
	#second{
		grid-row: 2/3;
		grid-column: 1/2;
	}
	#third{
		grid-row: 2/3;
		grid-column: 2/3;
	}
	#contact{
		grid-template-columns: 5fr;
		grid-gap: 20px;
	}
	.formgrid{
		grid-template-columns: 2fr;
		grid-gap: 0px;
	}
	footer{
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
	footer > div{
		margin-top: 10px;
	}
	footer a, footer p, footer .contactdata a{
		font-size: 16px;
	}
	#sitemap a{
		display: inline;
		border-right: 2px solid #fff;
		padding: 0px 10px;
	}

}

@media screen and (max-width: 600px){ 
	.carousel-inner {
		height: 350px;
	}
	#myfigure{
		height: 370px;
	}
	#myfigure h2{
		font-size: 35px;
		margin-bottom: 10px;
	}
	#myfigure p{
		display: none;
	}
	.sliderimg{
		height: 350px;
	}
	.sliderbutton{
	width: 80%;
	margin-top: 5px;
	}
	.carousel-control-prev{
		display: none;
	}
	.carousel-control-next{
		display: none;
	}
	aside{
		grid-column: 1/3;
		grid-row: 2/3;
	}
	#bottomleftaside{
		grid-column: 1/3;
		grid-row: 2/3;
	}
	#bottomrightaside{
		grid-column: 1/3;
		grid-row: 3/4;
	}
	article{
		grid-column: 1/3;
		grid-row: 3/4;
	}  
	#servicestitle{
		grid-column: 1/3;
		grid-row: 4/5;
	}
	#services{
		grid-column: 1/3;
		grid-row: 6/7;
	} 
	#service1, #service2, #service3, #service4{
	
	width: 90%;
	margin: 10px;
	}
	
	#supply1, #supply3, #groom1, #groom3, #train1, #train3,#supply2, #supply4, #groom2, #groom4, #train2, #train4, #speciality1, #speciality2, #speciality3, #speciality4 {
		grid-column: 1/5;
	}
	#supply1, #speciality1{
		grid-row: 3/4;
	}
	#supply2, #speciality2{
		grid-row: 4/5;
	}
	#supply3, #speciality3{
		grid-row: 5/6;
	}
	#supply4, #speciality4{
		grid-row: 6/7;
	}
	#title2{
		grid-row: 7/8;
	}
	#groom1{
		grid-row: 8/9;
	}
	#groom2{
		grid-row: 9/10;
	}
	#groom3{
		grid-row: 10/11;
	}
	#groom4{
		grid-row: 11/12;
	}
	#title3{
		grid-row: 12/13;
	}
	#train1{
		grid-row: 13/14;
	}
	#train2{
		grid-row: 14/15;
	}
	#train3{
		grid-row: 15/16;
	}
	#train4{
		grid-row: 16/17;
	}
	#staff{
		grid-row: 8/9;
	}
	.staffinfo{
		width: 80%;
	}
	#savepet{
		grid-row: 9/10;
	}
	#viewmore{
		grid-row: 10/11;
	}
	.adoptpet{
		width: 90%;
	}	
	#savepet{
		justify-content: center;
	}
	#showmore{
		justify-content: center;
	}
	#showbutton {
  	width: 60%;
  	height: 12vh;
  	margin-left: 20%;
	}
	.sliderbutton{
	width: 90%;
	height: 12vh;
	}
	#gallerymain1, #gallerymain2{
		margin-top: 5vh;
		grid-template-columns: 1fr;
	}
	#first{
		grid-row: 1/2;
		grid-column: 1/3;
	}
	#second{
		grid-column: 1/3;
	}
	#third{
		grid-row: 3/4;
		grid-column: 1/3;
	}
	.galleryimg{
		grid-column: 1/3;
	}
	#contactinfo a{
		font-size: 15px;
	}
	#contactinfo img{
		height: 20px;
		width: 20px;
		margin: 0px 4px 0px 0px;
	}
	#contact button, .minibutton{
		font-size: 13px;
	}
} 

